body{
    max-width: 940px;
    max-height: 800px;
    background-color: black;
    text-align: center;
    margin: auto;
    padding-top: 25px;
}

.fundo{
    padding: 20px;
    background: linear-gradient(rgb(253, 90, 90), rgb(79, 79, 197));
    border-radius: 5px 5px 5px 5px;
}

h1{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contato{
    color: #f7fa4d;
    font-family: 'Courier New', Courier, monospace;
}

#insta{
    margin: auto;
    width: 300px;
    height: 50px;
    border: 1px solid #fff;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
}

#insta:hover{
    transition: 0.5s all;
    transform: scale(1.1);
}

#whats{
    margin: auto;
    width: 300px;
    height: 50px;
    border: 1px solid #fff;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
}

#whats:hover{
    transition: 0.5s all;
    transform: scale(1.1);
}

h2:hover{
    color: rgb(204, 85, 49);
}


h3:hover{
    color: rgb(85, 252, 85);
}

h2{
    font-size: 18px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-size: 18px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#copy{
    margin-top: 800px;
    color: #fff;
    margin-top: 35px;
}

a{
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 320px) {
    body{
    height: 540px;     
    }
    .fundo{
        height: 540px;      
    }
    #insta{
    margin: auto;
    width: 250px;
    height: 50px;
    border: 1px solid #fff;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    }
    #whats{
    margin: auto;
    width: 250px;
    height: 50px;
    border: 1px solid #fff;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    }
    #insta{
    margin: auto;
    max-width: 300px;
    min-height: 50px;
    }
    #whats{
    margin: auto;
    max-width: 300px;
    min-height: 50px;
    }
    #copy{
    padding-top: 20px;
    }
}